<!-- <h1>Basic of Signal</h1> -->

<!-- <button (click)="count.set(count() + 1)">Increament</button>
<h1>{{count()}}</h1>
<button (click)="count.set(count() - 1)">Decreament</button> -->
<!-- 
<button (click)="updateSignal()">CLick</button>
<h1>{{data ()}}</h1> -->
<!-- <h1>Computed Signal</h1>
<button (click)="showSignalValue()" >Show Value</button> -->



<h1>{{count()}}</h1>
<button (click)="toggleValue()" >Update UserName</button>

<h1 *ngIf="display == true" style="background-color: green;" >Page Heading</h1>