<div class="container">
 <form #form="ngForm" (ngSubmit)="onSave()">
    <h2>Template Form</h2>
    <hr>

    <div>
      <label for="firstName">First Name <span>*</span></label>
      <input type="text" name="firstName" #fname="ngModel" minlength="3" required [(ngModel)]="userObj.firstName" placeholder="Enter Name">
      <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" [ngStyle]="{'color': 'red'}">
        <p  *ngIf="fname.errors?.['required']">This is Required</p>
        <p  *ngIf="fname.errors?.['minlength']">min length 3</p>
      </div>
    </div>

    <br><br>
    
    <label for="firstName">Last Name</label>
    <input type="text" name="lastName" #lName="ngModel" minlength="4" required [(ngModel)]="userObj.lastName" placeholder="Enter Name">
    <div *ngIf="lName.invalid && lName.dirty && lName.touched" [ngStyle]="{'color': 'red'}">
      <p *ngIf="lName.errors?.['required']">This is required</p>
      <p *ngIf="lName.errors?.['minlength']"  >min length 4 character</p>

    </div>
    <br><br>
    
    <label for="firstName">UserName</label>
    <input type="text" name="userName" [(ngModel)]="userObj.userName" placeholder="Enter Name">
    <br><br>

    <button type="button" [disabled]="form.invalid" (click)="onSave()">Submit Form </button>
  </form>
</div>