<nav class="sticky top-0 z-50 bg-white/30 backdrop-blur-md text-blue-800 p-4 shadow-md border-b border-blue-200/50">
  <div class="container mx-auto flex justify-between items-center">
    
    <ng-container *ngIf="authService.user$ | async as user; else loggedOutNav">
      <div class="flex-1">
        
        <a [routerLink]="user.role === 'Admin' ? '/admin-dashboard' : '/my-bookings'" class="flex items-center gap-2">
          <img src="assets/logo.svg" alt="Logo" class="h-8 w-auto"></a>
        
      </div>

      <div class="flex space-x-4 items-center">
        <span class="text-gray-600">Welcome, {{ user.userName }}!</span>
        
        <ng-container *ngIf="user.role === 'Admin'; else userLinks">
          <a routerLink="/admin/guesthouses" class="text-blue-600 hover:text-blue-800 font-semibold transition-colors duration-200 ml-4">Manage Guesthouses</a>
          <a routerLink="/admin/rooms" class="text-blue-600 hover:text-blue-800 font-semibold transition-colors duration-200 ml-4">Manage Rooms</a>
          <a routerLink="/admin/beds" class="text-blue-600 hover:text-blue-800 font-semibold transition-colors duration-200 ml-4">Manage Beds</a>
          <a routerLink="/admin/bookings" class="text-blue-600 hover:text-blue-800 font-semibold transition-colors duration-200 ml-4">Manage Bookings</a>
        </ng-container>

        <ng-template #userLinks>
          <a routerLink="/my-bookings" class="text-blue-600 hover:text-blue-800 font-semibold transition-colors duration-200 ml-4">My Bookings</a>
          <a routerLink="/new-booking" class="text-blue-600 hover:text-blue-800 font-semibold transition-colors duration-200 ml-4">New Booking</a>
        </ng-template>
        
        <button (click)="logout()" class="bg-transparent border border-red-500 text-red-600 rounded-lg py-2 px-4 font-semibold hover:bg-red-500 hover:text-white transition-all duration-300 ml-4">
          Logout
        </button>
      </div>
    </ng-container>

    <ng-template #loggedOutNav>
      <div class="flex-1">

        <a routerLink="/" class="flex items-center gap-2">
          <img src="assets/logo.svg" alt="Logo" class="h-8 w-auto"> </a>

      </div>
      
      <a routerLink="/login" class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-lg font-semibold transition-all duration-300">
        Login
      </a>
    </ng-template>

  </div>
</nav>