.posts{
 background-color: rgb(239, 234, 234);
 width: 200px;
 padding: 10px;
 margin: 5px;
 border-radius: 10px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parent{
  display: flex;
  overflow:;
}