<!-- <h1 [style.backgroundColor]="color" >This is Red Color</h1>
<input type="text" [value]="username" > -->
<!-- <button (click)="handleClick()" >Click Me</button> -->
 <!-- <input type="text" [(ngModel)]="username">
 {{username}}
  -->

  <!-- <input type="checkbox" [(ngModel)]="isSubscribed">
  <p>Subscribed: {{isSubscribed}}</p> -->

  <!-- <label><input type="radio" [(ngModel)]="gender" value="male">male</label>
  <label><input type="radio" [(ngModel)]="gender" value="female">female</label>
  <p>Selected: {{gender}}</p> -->